################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DbComparerApp
/Assemblies
/DbComparer/bin/Debug
/DbComparer/obj/Debug
/DbComparerApp/bin/x64/Debug
/DbComparerApp/obj/Debug
/DbComparerApp/obj/x64/Debug
/packages/Newtonsoft.Json.12.0.3
/DbComparerApp/DbComparer - Copy.cs
/packages/HtmlAgilityPack.1.11.17
/DbComparer/bin/DbComparerUI
/DbComparer/obj/DbComparerUI
/DbComparerApp/bin/x64/DbComparerUI
/DbComparerApp/obj/x64/DbComparerUI
/DbComparerUI/bin
/DbComparerUI/obj
/Data/BACKUP
